code/Presentation/Alteon.DataApi/Service References/ServiceReference1/SentNote1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10561/SentNote.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="app_key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sign" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="phone" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="platform" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentCustomExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="app_key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sign" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="phone" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="ext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="platform" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentCustomExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SentCustomExtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AliSmsSent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="app_key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sign" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="smsFreeSignName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="smsTemplateCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="smsParam" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="phones" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AliSmsSentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AliSmsSentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>